/* ============================================
   WRAPPER
============================================ */
.cus-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 0 45px;
}

/* ============================================
   TITLE
============================================ */
.cus-title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #0e73ba;
  margin-bottom: 40px;
}

.cus-title::after {
  content: "";
  width: 220px;
  height: 4px;
  background: #0e73ba;
  display: block;
  margin: 10px auto 0;
  border-radius: 4px;
}

/* ============================================
   SWIPER FIX
============================================ */
.customer-swiper {
  overflow: visible !important;
  padding-bottom: 50px !important;
}

.customer-swiper .swiper-slide,
.customer-swiper .swiper-wrapper {
  overflow: visible !important;
}

/* ============================================
   CARD
============================================ */
.cus-card {
  height: 60px;
  padding: 25px 35px;
  background: white;
  border-radius: 22px;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 50px;
  border-left: 3px solid #ababab;
  border-right: 3px solid #ffffff;

  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  transition: 0.25s ease;
}

.cus-card:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 25px rgba(0,0,0,0.22);
}

.cus-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ============================================
   PAGINATION
============================================ */
.customer-swiper .swiper-pagination {
   position: relative !important;
  bottom: -25px !important;     /* đẩy xuống dưới swiper */
  margin-top: 25px !important;  
}

.swiper-pagination-bullet {
  background: #0e73ba !important;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

/* ============================================
   REMOVE SWIPER DEFAULT NAVIGATION
============================================ */
.swiper-button-prev,
.swiper-button-next,
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
  pointer-events: none !important;
  opacity: 0 !important;
}
