

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .breadcrumb-container {
    padding: 0 14px;
    font-size: 14px;
  }
}
/* =========================
   GIỚI THIỆU – BREADCRUMB
========================= */
.gt-breadcrumb {

  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 15px;
  font-weight: 500;

  color: #0e73ba;
  background: transparent;

  margin: 10px 0 20px 230px; /* canh với title */
}

/* LINK */
.gt-breadcrumb-link {
  color: #0e73ba;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 4px;

  transition: 0.25s ease;
}

.gt-breadcrumb-link:hover {
  color: #0e73ba;
  text-decoration: underline;
}

/* ICON */
.gt-breadcrumb-icon {
  font-size: 14px;
}

/* SEPARATOR */
.gt-breadcrumb-sep {
  color: #000;
  margin: 0 6px;
}

/* CURRENT */
.gt-breadcrumb-current {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  pointer-events: none;
}
@media (max-width: 768px) {
  .gt-breadcrumb {
    margin-left: 0;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .gt-breadcrumb {
    margin-left: 0;
    font-size: 14px;
  }
}
