html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  backface-visibility: hidden;
* {
  font-family: "Roboto", sans-serif !important;
}
}
a,
button,
.clickable {
  cursor: pointer;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #0e73ba;
  margin: 10px 0 20px !important; 
  background: transparent !important;
}


.breadcrumb a,
.breadcrumb .link {
  color: #003f7f;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.25s ease;
}
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb .link:hover {
  color: #0e73ba;
}
.breadcrumb a:hover{
    text-decoration: underline;
}


.breadcrumb .icon-home {
  font-size: 14px;
}


.breadcrumb .sep {
  margin: 0 6px;
  color: #000;
}


.breadcrumb .current {
  color: #000;
  font-weight: 500;
  pointer-events: none;
  text-transform: uppercase;
}

html,
body,
#root {
  background-color: #ffffff;
  min-height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
