html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  backface-visibility: hidden;
* {
  font-family: "Roboto", sans-serif !important;
}
}

